html{
    font-family: 'Roboto', sans-serif;

}

.container{
    background-color: #F7F7F7;
    display: grid;
    grid-template-areas: 
    "video-destaque propaganda"
    "video-destaque video-sugestao";
    max-width: 900px;

    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    padding: 35px;
    gap: 20px;
}

.video-destaque{
    grid-area: video-destaque;
}

.propaganda{
    grid-area: propaganda;
}

.video-sugestao{
    grid-area: video-sugestao;
}

.video-destaque img{
    margin-bottom: 12px;
}

.video{
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.informacoes .titulo{
    font-size: 18px;
    margin-bottom: 7px;
}

.informacoes .visualizacoes{
    font-size: 14px;
    margin-bottom: 9px;
}

.video .titulo-informacoes{
    font-size: 14px;
    margin-bottom: 7px;
}

.video .informacoes > p{
    font-size: 11px;
    margin-bottom: 5px;
}